#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 120px;
    border-radius: 8px;
}

.video {
    width: 320px;
    border: 1px solid #dbdbdb;
    margin: 16px;
    border-radius: 4px;
}